.aboutsectionImg {
    width: 80%;
}

.aboutsection {
    background: transparent;
}

@media screen and (max-width: 460px) {
    .contactInfo h2 {
        line-height: normal !important;
    }

    .contactLinks {
        font-size: x-small;
    }

    h1 {
        font-size: 1rem;
    }

    .conclusion {
        font-size: 7px;
        line-height: normal;
    }
}

/* Phone UI mock element */
.phone {
    width: 320px;
    height: 260px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: center;
}

.phone::before {
    content: "";
    position: absolute;
    width: 84%;
    height: 0px;
    bottom: -10px;
    box-shadow:
        0 0 25px 9px rgba(255, 0, 0, 0.33),
        50px 10px 25px 8px rgba(18, 255, 0, 0.33),
        -40px 8px 25px 9px rgba(242, 255, 0, 0.33);
    left: 0;
    right: 0;
    margin: auto;
}

.phone::after {
    content: "";
}

/* Fix SASS-like suffix classes */
.phone_content {
    filter: contrast(20);
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: absolute;
}

.phone_bottom {
    width: 100%;
    height: 66px;
    background: black;
    display: flex;
    justify-content: center;
    filter: blur(10px);
}

/* Label and internal icon images */
label {
    cursor: pointer;
    display: flex;
    width: 33%;
    height: 66px;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

label>img {
    width: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 3;
    transition: 200ms 100ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
}

label::before {
    content: "";
    position: absolute;
}

/* Active indicator circle */
.circle {
    width: 60px;
    height: 60px;
    background: black;
    position: absolute;
    top: 152px;
    z-index: 1;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
    box-shadow: 0px 82px 20px 0px rgba(128, 128, 128, 0.29);
}

/* Gradient indicator */
.indicator {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: 0 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -42px;
    right: 0;
    margin: auto;
    transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
}

/* Radio checked states (converted from SCSS nesting) */
#s1:checked~.circle,
#s1:checked~div div .indicator {
    left: -66%;
}

#s2:checked~.circle,
#s2:checked~div div .indicator {
    left: 0;
}

#s3:checked~.circle,
#s3:checked~div div .indicator {
    left: 66%;
}

/* Hover states */
.sathiyam:hover {
    color: white;
}

/* Hide test inputs */
input {
    display: none;
}