<div class="aboutsection row position-relative">
    <div class="aboutImgContainer col-12 ">
        <img src="./assets/Techbigs.com PicsArt_11-12-06.17.05.png" alt="" class="aboutsectionImg" style="">
    </div>
   <div class="col-5 position-absolute text-white" style="right: 0;">
    <div class="row ps-3">
        <div class="col-12">
            <h1 class="m-0 p-0 border-bottom border-4 me-3 pb-1 mb-1 ps-2">
                CONTACT
            </h1>
            <span class="m-0 p-0 text-white row">
               <h2 class="col-5"><a href="mailto:janarthananlyfC@gmail.com" class="text-decoration-none text-white">E-MAIL &nbsp; <i class="bi bi-envelope"></i></a></h2>
               <h2 class="col-5"><a href="https://www.instagram.com/janakutty9751/profilecard/?igsh=aTVkcGJwZGtzdjJxm" class="text-decoration-none text-white">INSTAGRAM &nbsp; <i class="bi bi-instagram"></i> </a></h2>
            </span>
           
        </div>
    </div>
   </div>
</div>