<div class="aboutsection ">
   <div class="border-bottom position-relative row">
    <div class="aboutImgContainer col-12 ">
        <img src="./assets/Techbigs.com PicsArt_11-12-06.17.05.png" alt="" class="aboutsectionImg" style="">
    </div>
   <div class="col-lg-5 col-md-5 col-6 ps-3 p-lg-0 p-md-0  position-absolute text-white " style="right: 0;">
    <div class="row ps-3">
        <div class="col-12">
            <h1 class="m-0 p-0 border-bottom border-4 me-3 pb-lg-1 mb-lg-1  ps-lg-2">
                CONTACT
            </h1>
            <span class="m-0 p-0 text-white d-flex contactInfo gap-3 gap-lg-4">
               <h2 class="ps-lg-2 m-0 p-0"><a target="_blank" href="mailto:janarthananlyfC@gmail.com" class="text-decoration-none text-white contactLinks   "><i class="bi bi-envelope"></i></a></h2>
               <h2 class="ps-lg-2 m-0 p-0"><a target="_blank" href="https://www.instagram.com/janakutty9751/profilecard/?igsh=aTVkcGJwZGtzdjJxm" class="text-decoration-none text-white contactLinks"><i class="bi bi-instagram"></i> </a></h2>
               <h2 class="ps-lg-2 m-0 p-0"><a target="_blank" href="https://www.linkedin.com/in/janarthanan-r-348b41283?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="text-decoration-none text-white contactLinks"><i class="bi bi-linkedin"></i></a></h2>
               <h2 class="ps-lg-2 m-0 p-0"><a target="_blank" href="https://github.com/janarthananRaja" class="text-decoration-none text-white contactLinks"><i class="bi bi-github"></i></a></h2>
            </span>
           <span>
            <p class="m-0 p-0 conclusion pe-3">
                Thanks for dropping by my website! Connect with me on social media – let’s code up some great conversations, debug ideas, and maybe even launch a few awesome opportunities together!</p>
           </span>
        </div>
    </div>
   </div>
   </div>
   <div class="fst-italic " >
    <p class="p-0 m-0 text-white d-none d-lg-block d-md-block text-center fs-5 py-2">This site was crafted by JANA, with a little help from Angular, Spring Boot, Bootstrap, and Angular Material – basically, a superhero team of code!</p>
    <p class="p-0 m-0 text-white d-black d-lg-none d-md-none text-center" style="font-size: small;">Designed with a dash of magic and a lot of code by Jana!</p>
    </div>
    <p class="m-0 p-0 text-center sathiyam">Sathiyama Naandhan Develop pannen !!!.. </p>
</div>
