<h2 mat-dialog-title class="m-0 p-0 text-center text-uppercase"> {{skillData.name}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="d-flex justify-content-center">
    <img [src]="skillData.imgUrl" alt="" height="100px" width="100px" style="object-fit: contain;">
  </div>
  <div class="container py-5 ">
    <div class="row justify-content-between">
        <div class="col-5 mb-3">
          <strong>Work Experience:</strong> <p class="m-0">{{skillData.workExperience}}</p>
        </div>
        <div class="col-5 mb-3">
          <strong>Training Experience:</strong> <p class="m-0">{{skillData.trainingExperience}}</p>
        </div>
      </div>
      

    <div class="skill mx-auto">
        <div class="outer">
          <div class="inner">
            <div id="number" class="text-center">
              
            </div>
          </div>
        </div>
        <span class="html-circle-skill">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
            <defs>
              <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#e91e63" />
                <stop offset="100%" stop-color="#673ab7" />
              </linearGradient>
            </defs>
            <circle
            id="html-circle"
            cx="80"
            cy="80"
            r="70"
            stroke-linecap="round"
            [style.strokeDashoffset]="getStrokeDashoffset()"
          ></circle>
          </svg>
        </span>
      </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button  mat-dialog-close class="btn btn-primary rounded-pill border-0 mx-auto text-white">Cancel</button>
</mat-dialog-actions>
  

