<div class="mobile-project-container d-block d-lg-none mt-5">

  <div class="carousel-container position-relative">
    <ng-container *ngFor="let card of cardData; let i = index">
      <input type="radio" name="slider" [id]="'item-' + (i + 1)" (change)="changeSlide(i + 1)"
        [checked]="currentSlide === (i + 1)">
    </ng-container>

    <div class="cards-wrapper">
      <div class="cards-3d">
        <label *ngFor="let card of cardData; let i = index" class="project-card" [for]="'item-' + (i + 1)"
          [id]="'song-' + (i + 1)" (click)="onCardSelect(card.name,card.description)">
          <div class="card-inner">
            <img [src]="card?.imageUrl" alt="Project Image" class="card-img">
            <div class="card-overlay">
              <h3 class="card-title">{{card.name}}</h3>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <!-- Description Section -->
  <div class="project-details mt-4">
    <h2 class="section-title">Project Description</h2>
    <div class="description-box shadow">
      <p class="desc-text">{{ displayedText }}</p>
    </div>
  </div>

  <!-- Tech Stack -->
  <div *ngFor="let item of cardData; let i = index">
    <div *ngIf="currentSlide === i + 1" class="tech-section mt-4">
      <h2 class="section-title">Used Techs</h2>
      <div class="tech-chips">
        <span *ngFor="let usedTech of item.usedTech" class="tech-chip">
          #{{usedTech}}
        </span>
      </div>
    </div>
  </div>

</div>