::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface,::ng-deep .mat-mdc-snack-bar-label{
    background: fixed rgb(30, 1, 80) !important;
    color: white !important;
    border-radius: 10px !important;
}