
.skillbgc {
  width: 90%;
  opacity: 0.1;
  right: 5%;
  top: 0; /* Optional: Ensure it's positioned correctly */
  z-index: 1;
}

.cursor-pointer{
    cursor: pointer;
}

.skill-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-width: 100px; /* Optional: Limit image width to maintain consistent layout */
  max-height: 100px; /* Optional: Limit image height */
  filter: grayscale(1);
  transition: all .2s ease-in-out;
}
.skill-image:hover{
  filter: grayscale(0);
  scale: 1.1;
}
.skill-image:active{
  transition: all .2s ease-in-out;
 filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.348));
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px; 
}

@media screen and (max-width:460px) {
  .skillbgc {
		opacity: 0.1;
		right: -3% !important;
		top: 10% !important;
		z-index: 1;
    width: 100%;
	}
	
}

