<div class="row position-relative pt-3" style="position: relative; z-index: 2;">
  <!-- Main Skills -->
  <div class="col-12 text-center mb-5">
    <h2 class="fw-bold p-3">My Skills</h2>
    <p class="mx-auto text-center">A display of the skills I've honed through various projects.</p>
  </div>

  <div class="col-12 mb-5">
    <div class="d-flex flex-wrap justify-content-center gap-4">
      <div class="d-flex flex-column align-items-center justify-content-center col-3 cursor-pointer"
        *ngFor="let item of skillList.codeSkill" (click)="openDialog(item)">
        <img [src]="item.imgUrl" alt="{{item.name}}" class="skill-image">
        <p>{{item.name}}</p>
      </div>
    </div>
  </div>

  <!-- Supportive Skills -->
  <div class="col-12 text-center mb-5">
    <h2 class="fw-bold p-3">Supportive Skills</h2>
    <p class="mx-auto text-center">Highlighting the libraries & tools I've acquired.</p>
  </div>

  <div class="col-12 pb-5">
    <div class="d-flex flex-wrap justify-content-center gap-4">
      <div class="d-flex flex-column align-items-center justify-content-center col-3 cursor-pointer"
        *ngFor="let item of skillList.otherSkill" (click)="openDialog(item)">
        <img [src]="item.imgUrl" alt="{{item.name}}" class="skill-image">
        <p>{{item.name}}</p>
      </div>
    </div>
  </div>
</div>